#main{
    background-color:rgba(0, 0, 0, 0.63);  
}
#top{
background-color: #8d7127;
}
#top img{
margin-left: 720px;
}
.austin img{
    margin-left: 470px;
    padding: 9%;
    border-radius: 2000px;
}
.starting{
    text-align: center;
    background-color: #8d7127;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
#aboutpage{
    display: flex;
    padding: 5%;
    justify-content: center;
}
.hobbies{
margin-left: 50px;
}
#aboutpage h1{
background-color: #8d7127;
text-align: center;
margin-left: 150px;
margin-top: 20px;
margin-right: 150px;
margin-bottom: 20px;
}
#aboutpage p{
text-align: center;
font-weight: 600;
font-style: italic;
}
.aboutme{
    background-color: #8d7127;
    border-radius: 20px;
}
.hobbies{
    background-color: #8d7127;
    border-radius: 20px;
}
#first{
    display: flex;
    padding: 5%;
justify-content: center;
}
.anitas{
    background-color: #8d7127;
    margin-left: 10%;
    width: 363px;
    border-radius: 20px;
}
.anitas h1{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    border-radius: 15px;
}
.rental{
    background-color: #8d7127;
    margin-left: 17%;
    justify-content: center;
    margin-right: 10%;
    width: 370px;
    border-radius: 20px;
}
.rental h1{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    border-radius: 15px;
}
.trench{
    width: 370px;
    background-color: #8d7127;
    margin-left: 36%;
    margin-bottom: 30px;
    border-radius: 20px;
}
.trench h1{
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20px;
    margin-right: 50px;
    font-weight: 600;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color:white;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: 600;
}
a:hover{
    background-color: white;
    color: #8d7127;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}
#projects li{
    font-weight: 600;
    font-style: italic;
}
